@{
    ViewBag.Title = "Ошибка 404";

    Layout = null;
}
<link href="~/Content/Errors/Error404.css" rel="stylesheet"/>
<div class="error">
    <h1>404 </h1>
    <h2>Page not found <i class="material-icons">@Html.ActionLink("Home", "Freedi", "Home")</i></h2>
</div>